<h1>Workspaces</h1>
<p>Here you can find all the workspaces</p>

<div class="container-page">
  <%# <%= render 'shared/card' %>
  <div data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  id="map" style='width: 100%; height: 600px;'>
  </div>

  <div class="cards">
    <% @workspaces.each do |workspace| %>
        <%# <div class="card"> %>
        <div class="card-category image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
          <%# </div> %>
          <div class="card-info">
            <h2>
              <%= link_to workspace.name, workspace_path(workspace) %>,
              <%= workspace.neighborhood %>,
            </h2>
            <h2><%= workspace.price %>€</h2>
          </div>
        </div>
    <% end %>
  </div>
</div>
