<h1><%= @workspace.name %></h1>


<h3><%= @workspace.neighborhood %>
<%= @workspace.price %>€</h3>

<p><%= @workspace.address %></p>

<p>Hosted by <%= @workspace.user.username %></p>

<%= link_to "Edit workspace", edit_workspace_path(@workspace)%>
<%= link_to "Delete workspace", workspace_path(@workspace), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "Back to list page", workspaces_path %>
<%= link_to "Book this workspace", new_workspace_booking_path(@workspace) %>
