<h1>Bookings for <%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
<% if @user_bookings.empty? %>
  <p>You don't have any bookings (yet!)</p>
<% else %>
  <ul>
    <% @user_bookings.each do |booking| %>
      <% workspace = Workspace.find(booking.workspace.id) %>
      <li>
        <div class="booking">
          <p>Booking at <%= workspace.name %>
            from <%= booking.start_date %> to <%= booking.end_date %>
            <%# status: <%= booking.confirmed ? 'confirmed' : 'not yet confirmed' %>
            <%= link_to 'Edit Booking', edit_booking_path(booking) %>
            <%= link_to 'Cancel Booking', booking_path(booking),
                data: { turbo_method: "delete", turbo_confirm: "Cancel booking?" } %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'Back to main page', workspaces_path %>
<%# <%= link_to 'Book this workspace', new_workspace_booking_path(@workspace) %>
<%= render "shared/flashes" %>
