<div class="container">
  <div class="card">
    <%= simple_form_for @workspace, html: { class: "card-form"} do |w| %>
      <%= w.input :name, label_html: { class: 'input-label' }, input_html: { class: 'input-field' } %>
      <%= w.input :address,
        label_html: { class: 'input-label' },
        input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
      <%= w.input :neighborhood, label_html: { class: 'input-label' }, input_html: { class: 'input-field' } %>
      <%= w.input :price, label_html: { class: 'input-label' }, input_html: { class: 'input-field' } %>
      <%= w.input :photos, as: :file, input_html: { multiple: true } %>
      <%= w.button :submit, class: "form-submit" %>
    <% end %>
  </div>
</div>
