<div class="container-page">
  <%# <%= render 'shared/card' %>
  <div class="cards">
    <% @workspaces.each do |workspace| %>
      <div class="card">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        </div>
        <div>
          <p><%= workspace.name %></p>
          <p><%= workspace.address %></p>
          <p><%= workspace.neighborhood %></p>
          <p><%= workspace.price %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%# comment %>
