<!DOCTYPE html>
<html>
  <head>
    <title>AirOffice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
   <% if request.path == "/" %>
      <%= render "shared/nav_menu" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if request.path != "/" %>
    <div class="container">
      <%= yield %>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
    <%= render "shared/footer" %>
  </body>
</html>
